* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    }
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
        display: none;
        }


@keyframes zoom {
    0% { transform: scale(0.4);}
    50% { transform: scale(0.8);}
    100% { transform: scale(0.4);}
}

body {
    display: flex;
    height: 100vh;
    background-color: black;
    }

main {
    display: flex;
    flex-direction: column;
    margin: auto;

    }


section {
    display: flex;
    width: 95vw;
    aspect-ratio: 1/1;
    scroll-snap-type: x mandatory;
    overflow: auto;
    overflow-y: hidden;

    }

article {
    display: flex;
    position: relative;
    aspect-ratio: 1/1;
    scroll-snap-align: center;
    }
    .front {
        display: flex;
        width: 95vw;
        aspect-ratio: 1/1;
        z-index: 100;
        }
    #video1 {
        position: absolute;
        height: 111%;
        left: -260px;
        }
    #video2 {
        position: absolute;
        height: 100%;
        top: 0;
        }
    #video3 {
        position: absolute;
        height: 100%;
        left: -200px;
        z-index: -30;
        }  
    .video {
        position: absolute;
        background-image: url('./assets/images/videoart2.mp4');
        background-size: cover;
        width: 100%;
        aspect-ratio: 1/1;
        z-index: 90;
        }
        .video .cloudanimation, .dotanimation {
            position: relative;
            /* animation-name: zoom; */
            animation-iteration-count: infinite;
            animation-duration: 2.3s;
            transform: scale(0.4);
            }
        .video .crayoneo {
            top: 340px;
            /* left: -3%; */
            }
        .video .puzzle {
            top: 262px;
            left: 5px;
            animation-delay: 1s;
            }
        .video .rayos {
            top: 215px;
            left: 75px;
            animation-delay: 2s;

            }
        .video .battery {
            top: 15vw;
            left: 155px;
            animation-delay: 3s;
            width: 25vw;
            }
        .video .heart {
            top: 268px;
            left: 220px;
            animation-delay: 4s;

            }
        .video .eyes {
            top: 340px;
            left: 235px;
            animation-delay: 5s;
            }

        .video .dotanimation {
            width: 10px;
            aspect-ratio: 1/1;
            background-color: white;
            } 
            .video .dot1 {}



#scroll_counter {
    display: flex;
    position: absolute;
    width: 120px;
    height: 77px;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 100px;
    right: 0;
    margin-right: 50px;
    margin-top: 20px;
    z-index: 1;
    }
    p {
        font-family: 'Courier New', Courier, monospace;

    }